* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
h1 {
    /* margin-top: 2%; */
    color: #333;

}

.connexion-form {
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
    margin-top: 2%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0D9DCB;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0D9DCB;
}
.logo {
    width: 13%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.line1 {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    text-align: left;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.line2 {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    text-align: left;
    width: 50%;
    margin-top: 1%;
    margin-left: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #0D9DCB;
}
input[type="submit"]:focus {
    outline: none;
}
input[type="submit"]:active {
    background-color: #0D9DCB;
    box-shadow: none;
    transform: translateY(2px);
}
input[type="submit"]:hover {
    background-color: #0D9DCB;
    box-shadow: none;
    transform: translateY(2px);
}

.recherche {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sous-conteneur {
    display: flex;
    justify-content: space-around;

}

/*      Entete       */

header{
    background: #9F9F9F;
    height: 80px;
    line-height: 80px;
    color: RED;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
}
.logonav{
    float: left;
    margin-left: 10px;
}
.logonav img{
    height: 100%;
}
.menu-navigation{
    width: 100%;
    height: 80px;
    background: #9F9F9F;
    line-height: 80px;
    color: white;
    text-align: right;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.liens{
    float: right;
    margin-right: 10px;
}
.liens ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.liens ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.liens ul li a{
    color: white;
    text-decoration: none;
    font-size: 70%;
    padding: 7px 13px;
    border-radius: 3px;
}
.liens ul li a.active,
.liens ul li a:hover{
    background: #4F4F4F;
    transition: .5s;
}